
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat&display=swap');
.app{
  background: black;
/* background: linear-gradient(180deg, rgb(0,0,0) 26%, rgb(4, 17, 29) 48%,rgb(4, 14, 24) 58%, rgb(220, 229, 231) 88%); */
  background-attachment: fixed;
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'open sans' , sans-serif;
  color:white;
  margin-bottom: 0px;
  overflow: hidden;
  margin:0;
 
}
p{

 font-family: 'open sans' , sans-serif;
  letter-spacing: .02em;

}
h1,h2,h3{
 font-family:'Bebas Neue', cursive;
 letter-spacing: .06em;


}
.nav.navbar.navbar-expand-lg.navbar-light {
  /* background-image: linear-gradient(rgba(1,1,1,0.9), rgba(1,1,1,0.7),rgba(0,0,0,0.2),rgba(0,0,0,0.1)); */
 /* border-bottom: 1px groove rgb(156, 155, 155); */
 background-color: black;
 padding: 0.2rem 4rem ;
}

/*--------------style banner home-------*/
 .banner{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("landing-slisder-img-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 min-height:630px;
  padding-top:0.8rem;
  font-weight: 500;
  color:white;
  background-attachment: fixed;
  position:relative;
 }

.text-banner{
  font-family:'Bebas Neue', cursive;
  /* letter-spacing: .04em; */
  font-size: 3.5rem;
  font-weight:500;
}
 .max-height{
   margin-top:10rem;
   text-align: center;
   
 }

.circle {
  width:130px;
  height:130px;
  border-radius: 50%;
  border:2px solid rgb(163, 162, 162);
  font-size:5rem ;
 }
.circle a{
  color: rgba(94, 173, 147,0.5);
}
.circle a:hover{
color:cadetblue;
}


 .device{
  color: white;
  background-color:black;
   padding:4rem 3rem;
 }
 /* .relative{
   position: relative;
 }
 iframe{
   position: absolute;
   margin-top: 50rem;
   z-index:-1;
 } */
 /* style section device----------*/
 .device .text{
  margin-top:3rem;
 
 }
 .device img{
   max-width: 100%;
   height:auto;

 }
/*------------style banner page about------*/
 .bannerAbout{
  background-image: url("alex-litvin-MAYsdoYpGuk-unsplash.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:450px;
  padding-top:5rem;
  font-weight: 500;
  color:white;
  background-attachment: fixed;
  position:relative;

 }
 .bg-white{
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("img_21.jpg");
   background-repeat: no-repeat;
   background-size: cover;
  padding: 11rem 2rem ;
   /* background-image: url("Devices-Background-Gradient.jpg"); */
   background-attachment: fixed;
   color:white;
 }

 .title-banner{
   font-weight:500 ;
 color:black;
   padding:2rem 0.2rem;
   color:white;
 }

 #newsletter{
   /* background-color: rgba(177, 174, 170, 0.8); */
   background: rgba(34, 32, 32, 0.5) ;
   border: none;
   border:0.5px groove rgb(156, 155, 155);
   padding:1.3rem 2rem;

   
 } 

 .navbar-light .navbar-nav a{
  color: white!important;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-right: 1.4rem;
}

/*--------style container des card---*/
.bgcards{
  
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("h1-background-1.jpg");
  color:white;
 
  padding:2rem 2rem;
}

/*----------icon card-------*/
#icon1{
  color:white;
}
#icon1:hover{
  color:rgb(194, 58, 54)
}
/* ----icon rating---------*/
#iconstar{
  color:rgb(226, 190, 72)
}

.cardexp img{
  width:100%;
}


.cardexp .product-links{
  width: 145px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(70%) translateY(-70%);
  position: absolute;
  top: 50%;
  left: 100%;
  transition: all 0.6s ease 0s;
}
.cardexp:hover .product-links{
  opacity: 1;
  top: 50%;
  left:45%;
}
.cardexp .product-links li a{
  display: inline-block;
  margin: 4px 2px;
}
.cardexp .product-links li a {
 
  background-color:rgba(0,0,0,0.7);
  text-align: center;
  font-size:17px;
  padding:5px 3px;
  width:38px;
  height: 38px;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.4s ease-out 0s;
 
}
.cardexp .product-links li a i{
 color:white;
}
.cardexp .product-links li a i:hover{
  color: rgb(194, 58, 54);
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
}


/* #search-icon{background-color:rgb(161, 108, 72);
border:none;} */

/*style searchbar extensible  dans navbar*/

 #searchbar{
  position: relative;
  
  transition: all 1s;
  
  box-sizing: border-box;
  border-radius: 25px;
  padding: 0.2rem 2rem;
  width: 30px;
  height: 30px;
}  

#searchinput{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 30.5px;
  line-height: 25px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0px 60px;
 
}
.fas{
  color: white;
  text-align: center;
  font-size: 1.4rem;
  transition: all 1s;
}


#searchbar:hover{
  width: 200px;
  cursor: pointer;
}

#searchbar:hover input{
  display: block;
}
#searchbar:hover .fas{
  position: absolute;
  z-index:10;
  color: black;
 
}


/*---------style icon navbar---------*/
.iconav{
  font-size: 1.4rem;
}
.iconav:hover{
  color:rgb(194, 58, 54)
}

.iconav{
  font-size:1.5rem;
  text-decoration: none;
  color:white;

}

.iconav .badge{
  margin-left:-1.9rem;
  margin-top:-4px;
  position: absolute;
  padding:5px 8px;
  font-size:13px;
  font-weight: 500;
}


/*---------------------style footer----------------*/
.bgfooter{
  margin-top: 10rem;
  margin-bottom:0px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(movie-footer.webp);
  background-repeat: no-repeat;
  background-position:top;
  background-attachment: fixed;
 
  padding:0rem 4rem;
  background-size: cover;
  min-height: 400px;
  padding-top: 90px;
  color: #bdbdbd;
 

}

.bgfooter a{
  text-decoration: none;
  color: #bdbdbd;}

  #search-item{
  
    padding:1.3rem 2rem;
   
    background: rgba(34, 32, 32, 0.5) ;
    border: none;
    border:0.5px groove rgb(156, 155, 155);
  
  }

  #bs{
    background: rgba(20, 19, 19, 0.5) ;
    border: none;
    border:0.5px groove rgb(156, 155, 155);
  }

  #search-item:focus{
    border:1px solid white;
  }



  /*-----------style film card---------*/
  .imgexp {
    width:auto;
    height:22rem;
    border-radius: 0.6rem;
   
    transition: all 1s ease-in-out;
    filter: grayscale(0.6);
  
  }
  .cardexp:hover .imgexp{
    transform: scale(1.2);
    filter: grayscale(0);
    overflow-y: hidden;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
  }
  .cardexp{
   
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(rgb(11, 16, 31),0.8);
  
  }
  
  .imgfilm{
    overflow: hidden;
    box-sizing: border-box;
  }
  .content{
    
    opacity: 1;
    position: absolute;
    margin-top:-5.5rem;
    border-bottom-left-radius: 0.6;
    border-bottom-right-radius: 0.6rem;
    padding: 0.3rem 0.2rem 0rem 0rem;
    background-color:rgba(0,0,0,0.2);
    width:100%;
    object-fit: cover;
    transform: translateX(0px);
    transition:all 0.5s ease-in-out; 
    color: white;
    font-weight:500;
    line-height: 0.1;
  }
  /* .cardexp:hover .content{ 
    opacity: 1;
    position: absolute;
    margin-top:-6rem;
  
    padding: 0.3rem 0rem;
    background-color:rgba(0,0,0,0.7);
   
    object-fit: auto;
    transform: translateX(5px);
    transition:all 1s ease-in-out;
    color: white;
    font-weight:500;
  } */

  .bgblack{
    background-color: black;
  }


.public{
  background-color: white;
  color:black;
  padding:5rem;
  
}
.public img{
max-width: 100%;
height:auto;
}


.react-rater-star.is-active{
  color: rgb(240, 200, 69) !important;
  font-size: 1rem !important;
}
.react-rater-star {
 cursor: pointer;
 color: white !important;
 font-size: 1rem !important;
 position: relative;
}
  .react-rater-star.is-active-half:before {
    color: rgb(240, 200, 69)!important;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.bgwhite{
  background-color: white;
}

.mtop{padding-top: 5rem;

}



